.todo-enter-active {
    animation: todo .8s ease-in alternate-reverse;
}

.todo-exit-active {
    animation: todo .8s ease-out forwards;
}

@keyframes todo {
    0% {
        transform: translateX(0);
    }
    30% {
        opacity: .7;
        transform: translateX(30px);
    }
    100% {
        opacity: 0;
        transform: translateX(-200px);
    }
}
