#root {
  width: 100%;
  height: 100%;
}

.sign-wrap {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.sign-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 50px;
  width: 70%;
  max-width: 480px;
  min-width: 300px;

  font-family: Roboto, sans-serif;

  border: 3px solid cornflowerblue;
  border-radius: 25px;
  background: linear-gradient(135deg, #fdefef, #dce1fd);
}

.sign__main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.sign__login-item,
.sign__password-item {
  width: 80%;
}

.sign__input {
  height: 35px;
  border-radius: 5px;
}

.sign__input-error {
  border: 1px solid #ff0000;
}

.button-entity {
  height: 64px;
  width: 128px;

  border-radius: 5px;
  background-color: #7da6fc;

  font-size: 18px;
  font-weight: 500;
}

.sign__register-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
}

.sign__error-text {
  text-align: center;

  font-size: 16px;
  color: #8b0000;
}

.signin__register-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
}

.sign__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.sign-layout__title {
  font-size: 34px;
  color: rgb(0, 113, 247);
  margin-bottom: 20px;
}

.sign-layout__title:after {
  content: '💖';
}

@media (max-width: 640px) {
  .carrot-wrapper {
    display: none;
  }

  .sign-layout {
    padding: 25px;
  }
}

@media (max-width: 420px) {
  .sign-layout {
    padding: 15px;
  }
}
