.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header > h1 {
  margin: 0;
}

.main-header__exit {
  font-size: 18px;
}

.main-header__exit:hover {
  cursor: pointer;
  opacity: 0.5;
}

.main-header__title {
  font-style: italic;
  color: white;
}

.main-header__title:after {
  content: '💖';
  font-style: normal;
}
